<% if (Object.values(accesses).indexOf('access_backend') > -1)  { %>

<%- include layouts/header.ejs %>

<% if (Object.values(accesses).indexOf('view_users') > -1)  { %>

        <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Users</li>
          </ol>
		  
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Users List</div>
            <div class="card-body">
              <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			<thead>
                <tr>
                    <th width="50px">No</th>
                    <th>Name</th>
                    <th>User Type</th>
                    <th>Phone</th>
                    <th>Email</th>
					<th>Active</th>
					<th>Status</th>
                    <th width="120px">Action</th>
                </tr>
				</thead>
                 <tbody>              
                <% if(data.length>0){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
				 
				 <% if(data[i].group_id==1) { %>
				 <% if (Object.values(accesses).indexOf('view_superadmin') > -1)  { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].user_type%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i].email%></td>
					<td><% if(data[i].active==1){ %><span class="label label-success">Yes</span><% } else { %><span class="label label-danger">No</span> <% } %></td>
					<td><% if(data[i].verified==1){ %><span class="label label-success">Verified</span><% } else { %><span class="label label-danger">Not Verified</span><% } %> </td>
                    <td>
					
						<% if (Object.values(accesses).indexOf('edit_superadmin') > -1)  { %>					
							<a href="/superman/users/edit/<%=data[i].id%>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
						<% } %>
                       
						<% if (Object.values(accesses).indexOf('delete_superadmin') > -1)  { %>
							<a class="a-inside delete" href="/superman/users/delete/<%=data[i].id%>"  onclick="return confirm('Are you sure you want to delete this user?')"><i class="fa fa-trash" aria-hidden="true"></i></a> &nbsp;
						<% } %>	
						                       
                    </td>
                </tr>
            <% } } else { %>
				<tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].user_type%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i].email%></td>
					<td><% if(data[i].active==1){ %><span class="label label-success">Yes</span><% } else { %><span class="label label-danger">No</span> <% } %></td>
					<td><% if(data[i].verified==1){ %><span class="label label-success">Verified</span><% } else { %><span class="label label-danger">Not Verified</span><% } %> </td>
                    <td>
					
						<% if (Object.values(accesses).indexOf('edit_users') > -1)  { %>					
							<a href="/superman/users/edit/<%=data[i].id%>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
						<% } %>
                       
						<% if (Object.values(accesses).indexOf('delete_users') > -1)  { %>
							<a class="a-inside delete" href="/superman/users/delete/<%=data[i].id%>"  onclick="return confirm('Are you sure you want to delete this user?')"><i class="fa fa-trash" aria-hidden="true"></i></a> &nbsp;
						<% } %>
						
						<% if (Object.values(accesses).indexOf('view_user_files') > -1)  { %>
							<a class="a-inside delete" href="/superman/users/files/<%=data[i].id%>"><i class="fa fa-file"></i></a>
						<% } %>	
						                       
                    </td>
                </tr>

			<% } } 
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
             </tbody>
            </table>
         </div>
        </div>
		
		</div>
		
<% } else { %><% } %>

        
<%- include layouts/footer.ejs %>

<% } %>
