<%- include layouts/header.ejs %>

<!------ Include the above in your HEAD tag ---------->

<div class="container">

<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Upload Documents</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/logout">Logout</a></div>
                        </div>  
                        <div class="panel-body" >
                            <form class="form-horizontal" method="post" action="/upload" role="form" encType="multipart/form-data">
				
								<% if (messages.error) { %>
									<div id="signupalert" class="alert alert-danger">
										<span><%- messages.error %></span>
									</div>
								<% } %>
								 
								<% if (messages.success) { %>
									<div id="signupalert" class="alert alert-success">
										<span><%- messages.success %></span>
									</div>
								<% } %>
								
								<div class="form-group">
									<h4 style="padding-left:4%"> Your Submitted Documents </h4>
									
								
											<% if(documents.length>0){ %>
											<table class="table table-bordered dataTable no-footer" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 92%;margin: 0 auto;">
										
											<thead>
												<tr role="row">
													<th width="50px">No.</th>
													
													<th style="width: 190px;">Doc Type</th>
													
													<th style="width: 257px;">Id number</th>
													
													<th style="width: 117px;">Status</th>
													
													<th style="width: 129px;">Document</th>
												</tr>
											</thead>

												
												<tbody> 
											<%	for(var i = 0;i < documents.length;i++) {
												j=i+1;
											%>
											<tr>
												<td ><%= j %></td>
												<td><%= documents[i].document_type %></td>
												<td style="word-break:break-all"><%= documents[i].document_id_number %></td>
												<td><% if(documents[i].approved==0){ %><span class="label label-info">Pending</span><% } else if(documents[i].approved==1) { %><span class="label label-success">Approved</span><% } else { %><span class="label label-danger">Rejected</span><% } %></td>
												<td><a href="/download/<%= documents[i].document_name %>">Download</a>
												</td>
											</tr>	
											<% } %> 
												</tbody>
											</table>
											<% } else { %>
												<span style="padding-left:4%">No document is submitted. Submit your document here ..</span>
											<% } %>
										 <br>
									
									
								</div>
									
								<div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Document Type</label>
                                    <div class="col-md-8">
                                        <select name="document_type" class="form-control">
											<option>Passport</option>
											<option>Adhaar Card</option>
											<option>Pan Card</option>
											<option>Voter Id</option>
										</select>
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Identification number</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="document_id_number" placeholder="Identification number">
                                    </div>
                                </div>
                                    
								<div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Document</label>
                                    <div class="col-md-8">
                                        <input type="file" class="form-control" name="govt_id">
                                    </div>
                                </div>
								
								<div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
										<center><button id="btn-signup" type="submit" class="btn btn-info" style="    padding-left: 8%;padding-right: 9%;"><i class="icon-hand-right"></i> &nbsp Upload</button></center>
                                    </div>
                                </div>								
                                
                            </form>
                         </div>
                    </div>

               
               
                
         </div> 
		 
		 <%- include layouts/footer.ejs %>