<%- include layouts/header.ejs %>

<!------ Include the above in your HEAD tag ---------->

<div class="container">

<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Verification</div>
                            <!--<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/">Sign In</a></div>-->
                        </div>  
                        <div class="panel-body" >
							<% if (messages.success) { %>
									<div id="signupalert" class="alert alert-success">
										<span><%- messages.success %></span>
									</div>
							<% } else { %>
                            <form class="form-horizontal" method="post" action="/verify/?id=<%= id %>" role="form">
				
								<% if (messages.error) { %>
									<div id="signupalert" class="alert alert-danger">
										<span><%- messages.error %></span>
									</div>
								<% } %>
								 
								<% if(!messages.error && !messages.success) { %>
									<div id="signupalert" class="alert alert-success">
										<span>Enter OTP sent to your email id and mobile number.</span>
									</div>
								<% } %>
                                    
								<div class="form-group">
                                    <label for="name" class="col-md-3 control-label">Email OTP</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="mail_otp" placeholder="Email OTP" value="<%= mail_otp %>">
                                    </div>
                                </div>                           
                                  
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Mobile OTP</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="mobile_otp" placeholder="Mobile OTP" value="<%= mobile_otp %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Verify</button>
                                        <!--<span style="margin-left:8px;">or</span>-->  
                                    </div>
                                </div>
                                
                                
                            </form>
						 <% } %>
                         </div>
                    </div>

               
               
                
         </div> 
		 
		 <%- include layouts/footer.ejs %>